<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Define multiple grids or individual guides to use them as references while you're coding, like the Fireworks/Photoshop guides for designers."/>
  <meta name="keywords" content="grid, guide, javascript, code, js, tool"/>
  <title>reticulatorjs - get a grid</title>
  <link rel="stylesheet" href="/stylesheets/reticulatorjs.css" type="text/css" media="screen" charset="utf-8"/>
  <script src="/javascripts/bookmarklet.js" type="text/javascript" charset="utf-8"></script>  
<%= yield_content :head %>

</head>

<body>


  <div id="header">
    <div class="wrapper">
      <h1>
        <a href="/"><span>Reticulator, get a grid</span></a>
      </h1>
      <ul>
        <li><a href="/#getagrid">get a grid</a></li>
        <li><a href="/#configuration">usage and configuration</a></li>
        <li><a href="/#examples">examples</a></li>
        <li><a href="/#download">download</a></li>
        <li><a href="/#support">support</a></li>
      </ul>
    </div><!-- .wrapper -->
  </div><!-- #header -->
  <div id="content">
    <div class="wrapper">
      <div class="maincolumn">
        <%= yield %>
      </div><!-- .maincolumn -->
      <div class="sidebar">

        <h2>get a bookmarklet</h2>
        <ol>
          <li>
            <div>
            <p>
              Configure your bookmarklet to use it with your favourite grid
            </p>

            <form action="#" method="post" accept-charset="utf-8" id="bookmarkletform">
              <p>
                <label for="grid_align">align</label>
                <select name="grid_align" id="grid_align">
                  <option value="center">center</option>
                  <option value="left">left</option>
                  <option value="right">right</option>
                </select>
              </p>
              <p>
                <label for="grid_width">width</label>
                <input type="text" name="grid_width" value="951" id="grid_width"/>
              </p>
              <p>
                <label for="grid_offset">offset</label>
                <input type="text" name="grid_offset" value="0" id="grid_offset"/>
              </p>
              <p>
                <label for="grid_columns">columns</label>
                <input type="text" name="grid_columns" value="16" id="grid_columns"/>
              </p>
              <p>
                <label for="grid_gutter">gutter</label>
                <input type="text" name="grid_gutter" value="9" id="grid_gutter"/>
              </p>
              <p>
                <label for="grid_color">color</label>
                <input type="text" name="grid_color" value="#00FF00" id="grid_color"/>
              </p>
              <p>
                <label for="grid_opacity">opacity</label>
                <input type="text" name="grid_opacity" value="0.5" id="grid_opacity"/>
              </p>
              <p>
                <label for="grid_zindex">zindex</label>
                <input type="text" name="grid_zindex" value="9000000" id="grid_zindex"/>
              </p>

              <div>
                <button type="submit">Update bookmarklet</button>
              </div>
            </form>
            </div>
          </li>
          <li>
            <div>
            <p>
              Drag this link: <a href="#" id="reticulatorjsbookmarklet">Show grid</a> up to your Bookmarks Toolbar. 
              <em id="updatedbookmarklet">something went wrong with the js here :(</em>
            </p>
            </div>
          </li>
        </ol>
      </div><!-- .sidebar -->
    </div><!-- .wrapper -->      
  </div><!-- #content -->
  <div id="footer">
    <p>Hooray :)</p>
  </div><!-- #footer -->

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-262914-11");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>